

img.source {

 
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 12%;
  width: 45%;
  padding: 0px;
 
  
 


}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
  }
  
  li.nav {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    
    
}


  li.navA {

     float: left;

  }
  
  li.nav a.navA {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
    font-family: sans-serif;
  }


  li.nav a.navA:hover {
    background-color: #111;
    border-left: whitesmoke;
    border-right: whitesmoke;
    
  }





  .firstheading {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 30px;
    font-family: Apple Chancery, cursive;
    background-color: ghostwhite;

  }


  .secondheading {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 25px;
    font-family: Apple Chancery, cursive;
  }

  div.productLine {


   max-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   


  }

  ul.productLine {
    list-style-type: none;
    margin-left: auto;
    margin-left: auto;
    
    
    
    
    
    
    
  }

  li.item {

    
    
    text-decoration: none;
    padding-left: 6em;
    padding-right: 6em;
    display: inline-block;
    

   

  }
  
   
.productLine {
  font-family: sans-serif;
}

.manafacturer {
  font: bold;
  font-size: 18px;;
}

.product-price {
  color: grey;
}


.button-placement {
  width: 100%;
  padding-top: 6em;
  padding-bottom: 6em;
  display: flex;
  justify-content: center;

}



.buy-button {
  
 
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
 
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid black;
  
  
  
  
}

.tankHeader {

 background-color: whitesmoke;


}





 
li.itemSmok {
  text-decoration: none;
  padding-left: 7em;
  padding-right: 7em;
  display: inline-block;
  padding-top: 1em;
  
}



.banner {

   padding-top: 0;
   padding-bottom: 0;
   width: 100%;
   background-color: black;
  
  

}


.picture {

  height: 30%;
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 55%;


}
















  
